<div class="content-container">
    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/vx2u5uUu3DE" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Bon Jovi - It's My Life (Official Music Video)</h4>
                <p>Bon Jovi</p>
                <p>909,852,702 views • 17 Jun 2009</p>
            </div>
        </div>
    </div>


    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Bon Jovi - It's My Life (Official Music Video)</h4>
                <p>Bon Jovi</p>
                <p>909,852,702 views • 17 Jun 2009</p>
            </div>
        </div>
    </div>



    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/oETo3G0wmDo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Başak Gümülcinelioğlu - Sen Çal Kapımı</h4>
                <p>Turk sarki</p>
                <p>7,977,229 views • 24 Sept 2020</p>
            </div>
        </div>
    </div>



    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/vZSYPpsBOL0" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Mithat Can Özer - Ateş Böceği (Official Video)</h4>
                <p>Turk sarki</p>
                <p>40,579,713 views • 25 Oct 2016</p>
            </div>
        </div>
    </div>



    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/FM7MFYoylVs" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>The Chainsmokers & Coldplay - Something Just Like This (Lyric)</h4>
                <p>Song</p>
                <p>1,894,384,884 views • 23 Feb 2017</p>
            </div>
        </div>
    </div>


    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/vx2u5uUu3DE" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Bon Jovi - It's My Life (Official Music Video)</h4>
                <p>Bon Jovi</p>
                <p>909,852,702 views • 17 Jun 2009</p>
            </div>
        </div>
    </div>


    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/vx2u5uUu3DE" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Bon Jovi - It's My Life (Official Music Video)</h4>
                <p>Bon Jovi</p>
                <p>909,852,702 views • 17 Jun 2009</p>
            </div>
        </div>
    </div>


    <div class="video-content">
        <div class="video-content-contents">
            <iframe class="video-frame" src="https://www.youtube.com/embed/vx2u5uUu3DE" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="video-content-contents-info">
            <div class="video-content-contents-info-avatar">
                <svg width="60" height="50">
                    <circle cx="22" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="video-content-contents-info-details">
                <h4>Bon Jovi - It's My Life (Official Music Video)</h4>
                <p>Bon Jovi</p>
                <p>909,852,702 views • 17 Jun 2009</p>
            </div>
        </div>
    </div>
</div>