<!-- Header -->

<div class="header">
  <div class="header-left">
    <a>
      <!-- <img class="header-logo" src="http://pngimg.com/uploads/youtube/youtube_PNG21.png" alt="youtube logo" /> -->
    </a>
    <mat-icon class="menu-icon">menu</mat-icon>
    <mat-icon class="header-icon-arrow">play_arrow</mat-icon>
    <span class="app-name">YouTube<sup class="sup-script">maria</sup></span>
  </div>

  <div class="header-input">
    <input className="header-search-input" type="text" placeholder="Search" />
    <div class="header-search-icon">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </div>
  <div class="header-icons">
    <mat-icon class="header-icon">video_call</mat-icon>
    <mat-icon class="header-icon">apps</mat-icon>
    <mat-icon class="header-icon">notifications</mat-icon>
    <mat-icon id="header_icon_avatar" class="header-icon">account_circle</mat-icon>
  </div>
</div>



<!-- Header Bottom-->

<!-- <div class="header-bottom">
  <mat-icon class="header-bottom-arrow-icon">keyboard_arrow_left</mat-icon>
  <p class="header-bottom-topic">All</p>
  <p class="header-bottom-topic">Angular</p>
  <p class="header-bottom-topic">CSS</p>
  <p class="header-bottom-topic">React routers</p>
  <p class="header-bottom-topic">Python</p>
  <p class="header-bottom-topic">Java EE</p>
  <p class="header-bottom-topic">Spring Boot</p>
  <p class="header-bottom-topic">JavaScript</p>
  <p class="header-bottom-topic">Turk Dizis</p>
  <p class="header-bottom-topic">Melodius Music</p>
  <p class="header-bottom-topic">TRT Haber</p>
  <p class="header-bottom-topic">BBC</p>
  <p class="header-bottom-topic">Cricket Australia</p>
  <mat-icon class="header-bottom-arrow-icon">keyboard_arrow_right</mat-icon>
</div> -->




<!-- Sidebar -->


<div class="side-bar">

  <div class="side-bar-items">
    <a routerLink="home">
      <mat-icon class="side-bar-icon" id="active_home">home</mat-icon>
      <span class="side-bar-icon-name" id="active_home">Home</span>
    </a>
  </div>
  <div class="side-bar-items">
    <a routerLink="trending">
      <mat-icon class="side-bar-icon">local_fire_department</mat-icon>
      <span class="side-bar-icon-name">Trending</span>
    </a>
  </div>
  <div class="side-bar-items">
    <a routerLink="subscription">
      <mat-icon class="side-bar-icon">subscriptions</mat-icon>
      <span class="side-bar-icon-name">Subscriptions</span>
    </a>
  </div>
  <div class="side-bar-items">
    <a routerLink="library">
      <mat-icon class="side-bar-icon">video_library</mat-icon>
      <span class="side-bar-icon-name">Library</span>
    </a>
  </div>

  <div class="side-bar-items">
    <a routerLink="content">
      <mat-icon class="side-bar-icon">video_library</mat-icon>
      <span class="side-bar-icon-name">content</span>
    </a>
  </div>

</div>

<router-outlet></router-outlet>




<!-- Content Holder -->

<!-- <div class="content-container">
  <div class="content-element-container">ddddddddddddd
    <div class="video-card"></div>
    <div class="video-card-info">
      <div class="content-avatar"></div>
      <div class="video-content-info">
        <div class="video-content-name"></div>
        <div class="video-content-record"></div>
      </div>
    </div>
  </div>
</div> -->