<!-- Header Bottom-->

<div class="home-content">

    <div class="header-bottom">
        <mat-icon class="header-bottom-arrow-icon">keyboard_arrow_left</mat-icon>
        <p class="header-bottom-topic">All</p>
        <p class="header-bottom-topic">Angular</p>
        <p class="header-bottom-topic">CSS</p>
        <p class="header-bottom-topic">React routers</p>
        <p class="header-bottom-topic">Python</p>
        <p class="header-bottom-topic">Java EE</p>
        <p class="header-bottom-topic">Spring Boot</p>
        <p class="header-bottom-topic">JavaScript</p>
        <p class="header-bottom-topic">Turk Dizis</p>
        <p class="header-bottom-topic">Melodius Music</p>
        <p class="header-bottom-topic">TRT Haber</p>
        <p class="header-bottom-topic">BBC</p>
        <p class="header-bottom-topic">Cricket Australia</p>
        <mat-icon class="header-bottom-arrow-icon">keyboard_arrow_right</mat-icon>
    </div>

    <!-- 
    <div class class="video-element-container">

        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>

        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="20" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div> -->
</div>