<div class class="video-element-container">
    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>

        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="lightgrey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>

    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>


        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>


        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>


        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>


        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>


        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>

    <div class="video-card-full">
        <div class="video">
            <iframe class="yt-video" src="https://www.youtube.com/embed/Fp_rVPS27Zo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>


        <div class="video-content-info">
            <div class="channel-avatar">
                <svg width="80" height="100">
                    <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
                </svg>
            </div>
            <div class="channel-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p>Turk Sarki</p>
                <p>636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>




    <!-- <iframe class="yt-video" src="https://www.youtube.com/embed/vZSYPpsBOL0" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <div class="video-element-info">
        <svg width="80" height="100">
            <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
        </svg>

        <div class="video-content-info">
            <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
            <p class="name-record">Turk Sarki</p>
            <p class="name-record">636,729 views • 2 Nov 2020</p>
        </div>
    </div>




    <iframe class="yt-video" src="https://www.youtube.com/embed/EvDz91ZmOD0" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <div class="video-element-info">
        <svg width="80" height="100">
            <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
        </svg>

        <div class="video-content-info">
            <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
            <p class="name-record">Turk Sarki</p>
            <p class="name-record">636,729 views • 2 Nov 2020</p>
        </div>
    </div>



    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/RHSb_dDUp4Q" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>
  
            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/byZfeA4s0rw" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>
          
            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/jQEmQhGphgY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>
  
            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/JPU0pQtrRwA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>

            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/GG3tt0xYZZQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>

            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/IEuZkiQl3-g" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>

            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/oETo3G0wmDo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>
 
            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/8LUN-GO27cg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>

            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>


    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/ScZFzmN-8XY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>
   
            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div>
    </div>

    <div class class="video-element-container">
        <iframe class="yt-video" src="https://www.youtube.com/embed/MbeR_Q1x7OI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="video-element-info">
            <svg width="80" height="100">
                <circle cx="50" cy="25" r="22" stroke="grey" stroke-width="4" fill="grey" />
            </svg>

            <div class="video-content-info">
                <h4 class="video-name">Burak Tozkoparan - Alev Alev</h4>
                <p class="name-record">Turk Sarki</p>
                <p class="name-record">636,729 views • 2 Nov 2020</p>
            </div>
        </div> -->
</div>