* {
  background-color: rgba(17, 17, 17, 0.61);
}

.header-bottom {
  width: 94.5%;
  height: 55px;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #252525;
  border-top: 1px solid rgba(128, 128, 128, 0.288);
  border-bottom: 1px solid gray;
}

.header-bottom-topic {
  color: white;
  background-color: #ffffff23;
  padding: 4pt;
  border-radius: 15pt;
  border: 1px solid rgba(128, 128, 128, 0.288);
  margin-left: 8pt;
  margin-top: auto;
}

.header-bottom-topic:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.479);
}

.header-bottom-arrow-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 8pt;
  padding: 5px;
  background-color: #ffffff23;
  border-radius: 50%;
  color: white;
  font-size: medium;
}

/* video content */

/* .video-card-full {
  padding-top: 5rem;
  padding-left: 5rem;
}

.video-content-info {
  display: flex;
  flex-direction: row;
}

.channel-info > p {
  line-height: 0.5em;
  color: #ffffff;
}

.channel-info > h4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  max-height: 4rem;
  color: #ffffff;
}

.video-element-container {
  margin-top: 2em;

}

.video {
  margin-left: 2em;
  margin-right: 1em;

}

.video-name {
  margin-top: 0.3rem;
} */
